core-toolbar {
  color: #f1f1f1;
  fill: #f1f1f1;
  background-color: #616161;  /* Grey 700 */
}
.title {
  font-weight: 100;      
  font-size: 25px;
  color: #ffab40;             /* Orange A200 */
}

.title a,
.title a:link,
.title a:visited,
.title a:hover,
.title a:active {
  color: inherit;
  text-decoration: none;
}

.chevron {
  font-weight: 100;      
  font-size: 27px;
  color: #ffab40;             /* Orange A200 */
  margin-left: 0;
  margin-right: 0;
}

.subtitle {
  font-weight: 100;      
  font-size: 25px;
  color: #ffab40;             /* Orange A200 */
}
.subtitle a,
.subtitle a:link,
.subtitle a:visited,
.subtitle a:hover,
.subtitle a:active {
  color: inherit;
  text-decoration: none;
}