<lift:surround with="default" at="content"> 
  <lift:with-param name="page-header">
    <h2><i class="fa fa-wrench"></i> Angular Test</h2>
  </lift:with-param> 
  
  <div ng-app="demoApp">
    <div id="DemoCtrl" ng-controller="DemoCtrl">
	  
		  <form class="form-inline" role="form">
			  <div class="form-group">
          <label for="fromDate">From </label>
          <input type="text" datepicker-popup="yyyy-MM-dd" id="fromDate" show-weeks="false" ng-model="fromDate" class="form-control" placeholder="any date"/>
			  </div>
        <div class="form-group">
          <label for="toDate"> to </label>
          <input type="text" datepicker-popup="yyyy-MM-dd" id="toDate" show-weeks="false" ng-model="toDate" class="form-control" placeholder="any date"/>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-model="inOutSetting" btn-radio="'either'">All</button>
          <button type="button" class="btn btn-default" ng-model="inOutSetting" btn-radio="'true'">In</button>
          <button type="button" class="btn btn-default" ng-model="inOutSetting" btn-radio="'false'">Out</button>
        </div>      
			</form>
	    <p>			
        <ul class="list-group">
          <li class="animate-repeat list-group-item" ng-animate="'animate'" ng-repeat="entry in entries | inOutFilter:inOutSetting | fromDateFilter:fromDate | toDateFilter:toDate " ng-class="{'list-group-item-success': entry.in}">
            <div class="row">
              <div class="col-md-2">{{entry.in}}</div>
              <div class="col-md-9">{{entry.time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
              <div class="col-md-1"><button class="btn btn-danger btn-xs pull-right" ng-click="remove(entry.deleteGUID)"><i class="fa fa-times"></i></button></div>
            </div>
          </li>
        </ul>

<!--        
        <input type="text" datepicker-popup="yyyy-MM-dd" id="fromDate" show-weeks="false" ng-model="dateMillis" class="form-control" placeholder="any date"/>
        <input type="text" ng-model="dateMillis"  />
        {{dateMillis}}
 -->

        <div class="lift:AngularTimesheetTable"></div>
      </p>

<!--     <pre>Selected date is: <em>{{date.value | date:'fullDate' }}</em></pre>
    <pre>Model is: <em>{{date.value}}</em></pre>

   <br />
    <div class="well well-small pull-left" ng-model="date.value" unixmillis>
        <datepicker min="minDate" show-weeks="showWeeks"></datepciker>
    </div> -->
    

    <button ng-model="date.value" show-weeks="false" class="btn btn-default" datepicker-popup="yyyy-MM-dd" unixMillis><i class="fa fa-calendar"></i> {{date.value | date:'fullDate'}}</button>
    <input class="form-control" type="number" ng-model="date.value"  />

        
      <input class="form-control" ng-model="status.value">
      <div class="lift:AngularTestString"></div>
  
      <button ng-model="realDate.value" show-weeks="false" class="btn btn-default" datepicker-popup="yyyy-MM-dd"><i class="fa fa-calendar"></i> {{realDate.value | date:'fullDate'}}</button>
            <input type="text" datepicker-popup="yyyy-MM-dd" id="fromDate" show-weeks="false" ng-model="realDate.value" class="form-control" placeholder="any date"/>
  
    {{"$" + realDate.value + "$"}}
  
  
  <lift:with-param name="angular-scripts">
    <!-- Angular controller -->
    <script src="/angular-boxes/js/angular-boxes.js"></script>
	  <script src="/angular-demo/js/controllers.js"></script>
  </lift:with-param> 
  
</lift:surround>

<!--        <table class="table table-condensed">
          <thead>
            <tr>
              <th>In/Out</th>
              <th>Time</th>
              <th></th>
            </tr>
          </thead>
          
          track by entry.index
  
          <tbody>
            <tr class="animate-repeat" ng-animate="'animate'" ng-repeat="entry in entries | inOutFilter:inOutSetting | fromDateFilter:fromDate | toDateFilter:toDate " ng-class="{success: entry.in}">
              <td>{{entry.in}}</td>
              <td>{{entry.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td><div class="pull-right"><button class="btn btn-danger btn-xs" ng-click="remove(entry.deleteGUID)"><i class="fa fa-times"></i></button></div>{{entry.deleteGUID}}</td>
            </tr>
          </tbody>
        </table>
        
        <div class="lift:AngularTimesheetTable"></div>
      </p> -->
